body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!! CONTEINER  !!!!!!!!!!!!!!!!!!!!!!!!!! */
.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* !!!!!!!!!!!!!!!!!!!!!!  MOBIL HEDER  !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.link-list {
  display: none;
}
.info {
  display: none;
}
.page-hader-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-hader {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
span {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.mobil-social-media {
  display: flex;
}

@media screen and (max-width: 767px) {
  .mobil-menu-open-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mobil-close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    fill: #2e2f42;
    cursor: pointer;
  }
  .mobil-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobil-menu-wrapper.is-open {
    transform: translateX(0%);
  }
  .mobil-menu-nav {
    display: block;
    margin-top: 72px;
  }
  .mobil-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 168px;
  }

  .mobil-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .color {
    color: #404bbf;
  }
  .mobil-tel {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .mobil-tel-color {
    color: #4d5ae5;
  }
  .mobil-menu-contakt {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 48px;
  }
  .mobil-social-media {
    display: flex;
    gap: 40px;
  }
}
/* !!!!!!!!!!!!!!!!!!!!!  MOBIL HEDER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!!!!!!!!! */
.section {
  padding-top: 72px;
  padding-bottom: 72px;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  max-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob@2x.jpg);
  }
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 200px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.start {
  cursor: pointer;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!!!!!!! */

/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!!!!!!!!! */
.two-section-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.two-section-icon {
  display: none;
}
.section-all {
  padding-top: 96px;
  padding-bottom: 96px;
}
.advantages-titl {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
  text-transform: capitalize;
}
.advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.two-section-item:last-child {
  margin-bottom: 0;
}

/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!!!!!!!!! */

/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 2  !!!!!!!!!!!!!!!!!!!!!!!!! */
.container-our-team {
  width: 296px;
}
.our-team {
  background-color: #f4f4fd;
}
.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
}

.title {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.kard {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.kard:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kard-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-titl {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.card-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-media-link {
  background-color: #4d5ae5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
  fill: #f4f4fd;
}

/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 2  !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 3  !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.portfolio-conteiner {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.card-foto {
  width: 100%;
}

.portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-block-text {
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block:hover .overlay {
  transform: translate(0);
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*  !!!!!!!!!!!!!!!!!!!!  МОБИЛ СЕКЦИЯ 3  !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* !!!!!!!!!!!!!!!!!! TABLET HEDER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobil-menu-open-btn {
    display: none;
  }
  .mobil-menu-wrapper {
    display: none;
  }
  .navig {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .link-list {
    display: flex;
    gap: 40px;
  }
  .link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .navig .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .info {
    font-style: normal;
    display: flex;
  }
  .adress-mail-tel {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .mail-tel {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* !!!!!!!!!!!!!!!!!! TABLET HEDER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!!!! */
  .section {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    max-width: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet@2x.jpg);
    }
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .start:hover,
  .start:focus {
    background-color: #404bbf;
    color: #fff;
  }
  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!! */
  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!!!! */
  .two-section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .two-section-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-titl {
    font-size: 36px;
    text-align: start;
  }
  /* .two-section-item {
    margin-bottom: 72px;
  } */
  .two-section-item:last-child {
    margin-bottom: 0;
  }

  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!!!! */
  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 2  !!!!!!!!!!!!!!!!!!!! */
  .container-our-team {
    width: 584px;
  }
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }

  .kard {
    width: calc((100% - 24px) / 2);
  }
  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 2  !!!!!!!!!!!!!!!!!!!! */
  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 3  !!!!!!!!!!!!!!!!!!!! */
  .portfolio-conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .card-foto {
    max-width: 356px;
  }
  .portfolio-card {
    width: calc((100% - 24px) / 2);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /*  !!!!!!!!!!!!!!!!!!!!  TABLET СЕКЦИЯ 3  !!!!!!!!!!!!!!!!!!!! */
}

/* !!!!!!!!!!!!!!!!!!! DECSTOP HEDER  !!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .logo {
    margin-right: 76px;
  }
  .link:hover,
  .link:focus {
    color: #404bbf;
  }
  .adress-mail-tel {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .mail-tel {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .mail-tel :hover,
  .mail-tel :focus {
    color: #404bbf;
  }
  /* !!!!!!!!!!!!!!!!!!! DECSTOP HEDER  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /*  !!!!!!!!!!!!!!!!!!!!  DESCTOP СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!! */
  .section {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desktop@2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }
  /*  !!!!!!!!!!!!!!!!!!!!  DESCTOP СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!!!! */
  .section-all {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .two-section-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .two-section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }
  .advantages-titl {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .advantages-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*  !!!!!!!!!!!!!!!!!!!!  DESCTOP СЕКЦИЯ 2  !!!!!!!!!!!!!!!!!!!! */
  .our-team-list {
    flex-wrap: nowrap;
  }
  .container-our-team {
    width: 1158px;
  }
  .social-media-link:hover,
  .social-media-link:focus {
    background-color: #404bbf;
  }
  /*  !!!!!!!!!!!!!!!!!!!!  DESCTOP СЕКЦИЯ 3 !!!!!!!!!!!!!!!!!!!! */
  .portfolio-conteiner {
    row-gap: 48px;
  }
  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!    СЕКЦИЯ HERO  !!!!!!!!!!!!!!!!!!!!!! */

/* .hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* .hero-conteiner {
  padding-top: 188px;
  padding-bottom: 188px;
} */

/* .hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
} */

/* !!!!!!!!!!!!!!!!    СЕКЦИЯ 1  !!!!!!!!!!!!!!!!!! */

/* .two-section-list {
  display: flex;
  gap: 24px;
} */

/* .two-section-item {
  width: calc((100% - 72px) / 4);
} */

/* .two-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  height: 112px;
  margin-bottom: 8px;
} */

/* .title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
} */

/* .advantages-titl {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
} */

/* .advantages-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* !!!!!!!!!!!!!!!!!   СЕКЦИЯ 2   !!!!!!!!!!!!!!!!! */

/* .our-team {
  background-color: #f4f4fd;
} */

/* .title {
  margin-bottom: 72px;
} */

/* .our-team-list {
  display: flex;
  gap: 24px;
} */

/* .kard {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} */

/* .kard:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .kard-item {
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .card-titl {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
} */

/* .card-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
} */

/* .social-media-link {
  background-color: #4d5ae5;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .social-media-icon {
  fill: #f4f4fd;
} */

/* !!!!!!!!!!!!!!!!!!!   СЕКЦИЯ 3  !!!!!!!!!!!!!!!!!! */

/* .portfolio-conteiner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-block-text {
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block:hover .overlay {
  transform: translate(0);
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */

/* !!!!!!!!!!!!!!!!!!  ФУТЕР  !!!!!!!!!!!!!!!!!! */

.footer-icon {
  display: flex;
  align-items: baseline;
}

.logo-div {
  margin-right: 120px;
}

.end {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-futer {
  display: inline-block;
  margin-bottom: 16px;
}

.end-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.end-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.social-media-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-media-footer {
  display: flex;
  gap: 16px;
}

.social-media-icon {
  fill: #f4f4fd;
}

.social-media-list {
  width: 40px;
  height: 40px;
}

.social-media-link-footer {
  background-color: #4d5ae5;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
  background-color: #31d0aa;
}

/* !!!!!!!!!!!!!!!!!!! ФОРМА EMAIL  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.subscribe-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 80px;
}

.subscribe-titl {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-content {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.email-content {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button {
  display: inline-flex;
  min-width: 165px;
  cursor: pointer;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
  color: #fff;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* !!!!!!!!!!!!!!!!!!!!  БЕКДРОП  !!!!!!!!!!!!!!!!!!!!!!!!! */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.in-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* !!!!!!!!!!!!!!!!!!  МОДАЛЬНОЕ ОКНО  !!!!!!!!!!!!!!!!!!!!! */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  padding-top: 72px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  fill: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn > .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-conteiner {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input-div {
  position: relative;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-conteiner-textaria {
  margin-bottom: 16px;
}
.modal-textaria {
  display: block;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.modal-textaria:focus {
  border-color: #4d5ae5;
}
/* !!!!!!!!!!!!!!!!!!!! ЧЕКБОКС  !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.castom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-check-label > .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-checkbox:focus + .modal-check-label > .castom-checkbox {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.castom-checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;
}
.modal-checkbox:checked + .modal-check-label .castom-checkbox-icon {
  opacity: 1;
}
.modal-check-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.accent-color {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.modal-form-check {
  margin-bottom: 24px;
}
.modal-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
  color: #fff;
}
